@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(59, 59, 59);
  font-weight: 600;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  top: 10px;
  padding: 5px;
}
th {
  top: 10px;
  padding: 5px;
}
td {
  top: 10px;
  width: 1px;
  border: 1px solid rgba(252, 243, 164, 0.295);
  padding: 5px;
}

#mainHeading {
  position: relative;
  justify-content: center;
  text-align: center;
  color: antiquewhite;
  font-size: 40px;
  display: flex;
}
#quotes {
  position: relative;
  padding: 10px;
  border: 5px;
  justify-content: center;
  text-align: center;
  color: rgb(255, 245, 232);
  font-size: 20px;
  display: flex;
}

.highlight {
  background-color: #723131be;
}

.empty-row {
  background-color: rgb(59, 59, 59);
}

#menu-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: antiquewhite;
  display: block;
}
.menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 13%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 1%;
  border-radius: 1rem;
  color: antiquewhite;
  background: rgb(59, 59, 59);
  box-shadow: 0 0 10px black;
  display: none;
}
.menu.active {
  display: block;
}
.leftBox {
  left: 0;
  margin: 20px;
  width: 50%;
  position: fixed;
  text-align: center;
}
.rightBox {
  z-index: 1;
  right: 0;
  margin: 10px;
  width: 50%;
  position: fixed;
  text-align: center;
}
#dateInput {
  color: antiquewhite;
}
button {
  color: antiquewhite;
}
