@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

.highlight {
  background-color: yellow;
}

.empty-row {
  background-color: white;
}

#menu-icon {
  font-size: 30px;
  padding: 5px 1%;
  color: aquamarine;
  display: block;
}
.menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 1%;
  border-radius: 1rem;
  background: green;
  display: none;
}
.menu.active {
  display: block;
}
