@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(59, 59, 59);
  font-weight: 600;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  top: 10px;
  padding: 5px;
}
th {
  top: 10px;
  padding: 5px;
}
td {
  top: 10px;
  width: 1px;
  border: 1px solid rgba(255, 253, 230, 0.295);
  padding: 5px;
}
button {
  color: antiquewhite;
  width: 80px;
  border-radius: 1rem;
}
#mainHeading {
  position: relative;
  justify-content: center;
  text-align: center;
  color: antiquewhite;
  font-size: 20px;
  display: flex;
}
#quotes {
  position: relative;
  padding: 1px;
  border: 5px;
  justify-content: center;
  text-align: center;
  color: rgb(255, 245, 232);
  font-size: 10px;
  display: flex;
}
.highlight {
  background-color: #0000007a;
}
.empty-row {
  background-color: rgb(59, 59, 59);
}
.Box {
  z-index: 1;
  right: 0;
  margin: 10px;
  width: 100%;
  position: fixed;
  text-align: center;
}
#menu-icon {
  position: fixed;
  cursor: pointer;
  transition: transform 0.3s ease;
  top: 5px;
  left: 5px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: rgba(250, 235, 215, 0.274);
  display: block;
}
#menu-icon:hover {
  transform: scale(1.1);
}
.menu {
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 1%;
  border-radius: 1rem;
  color: antiquewhite;
  background: rgb(59, 59, 59);
  box-shadow: 0 0 10px black;
  display: none;
}
.menu.active {
  display: block;
  opacity: 1;
  pointer-events: all;
}
.date-inputs {
  position: relative;
  justify-content: center;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.date-select {
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #fff;
}

.supportMe {
  position: relative;
  height: 200px;
  background-image: url(https://raw.githubusercontent.com/cv0x/Bitcoin-Real-Time-Price-Tracker/main/btcsupport.png);
  background-repeat: no-repeat;
  background-size: contain;
}
